@charset "utf-8";
/* CSS Document */
/*
font-family: 'Marcellus SC', serif;
font-family: 'Scheherazade', serif;
*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #163247;
}
h1,h2,h3 {
	font-family: 'Cinzel', serif;
	color: white; 
	font-weight: 300;
}
h4,h5,h6,p {
	font-family: 'Scheherazade', serif;
	color: white;
	font-weight: 300;
	
}
.debug-box {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
	padding: 20px 40px 20px 40px;
	color: white;
	z-index: 20;
}
.center {
	margin: 0 auto 0 auto;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: 2s;
/*	display: none;*/
}

.overlay--background {
	background-color: #12293b;
	z-index: 20;
}
.overlay--victory {
	transform: translateY(-4000px);
	z-index: 5;
}
.overlay--logo {
	display: block;
	padding: 100px 0 100px 0;
	width: 100%;
    max-width: 500px;
    height: auto;
}

.info-container {
	height: 100px;
	text-align: center;
	font-size: 2em;
	color: #FFBF31;
}
.info-container h2 {
	color: #FFBF31;
}
.info-text {
	padding-top: 50px;
	text-align: center;
	font-size: 2.5em;
}
.overlay--cards {
	max-width: 1200px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	height: 200px;
	width: 200px;
	border: 1px solid white;
	box-shadow: 0 5px 20px black;
	margin: 5px;
	text-align: center;
	background-size: cover;
	filter: grayscale(1);
	cursor: pointer;
}
.card:hover {
	filter: grayscale(0);
	transition: .2s;
}

.card h3 {
	font-size: 1.5em;
	letter-spacing: 2px;
	margin: 5px;
	padding-top: 60px;
	text-shadow: 2px 2px black;
}

.card h4 {
	font-size: 1em;
	letter-spacing: 2px;
	margin: 5px;
	padding-top: 5px;
	text-shadow: 2px 2px black;
}
.tile span {
	padding: 5px;
}
.tile span img {
	width: 30px;
	height: 30px;
	filter: drop-shadow( 0 3px 3px #000 );
}
.button-container {
	text-align:center;
	padding-top: 100px;
}
.start-text {
	padding-top: 50px;
	font-size: 3em;
	transition: .5s;
}
.pulsate {
	-webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
}
@-webkit-keyframes pulsate {
    0% { 
        transform: scale(1);
    }
    50% { 
        transform: scale(1.2);
    }
    100% { 
        transform: scale(1);
    }
}
.card--background_robb { background-image: url("../images/heroes/Robb_Stark.png");}
.card--background_sansa { background-image: url("../images/heroes/Sansa_Stark.png");}
.card--background_arya { background-image: url("../images/heroes/Arya_Stark.png");}
.card--background_jon { background-image: url("../images/heroes/Jon_Snow.png");}
.card--background_theon{ background-image: url("../images/heroes/Theon_Greyjoy.png");}
.card--background_tyrion { background-image: url("../images/heroes/Tyrion_Lannister.png");}
.card--background_stannis { background-image: url("../images/heroes/Stannis_Baratheon.png");}
.card--background_davos { background-image: url("../images/heroes/Davos_Seaworth.png");}
.card--background_daenerys { background-image: url("../images/heroes/Daenerys_Targaryen.png");}
.card--background_viserys { background-image: url("../images/heroes/Viserys_Targaryen.png");}

.container {
	display: block;
	margin: 200px auto 0 auto;
	width: 1600px;
}
.game-container {
	display: flex;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	height: auto;
}
.game-board {
	display: flex;
	flex-wrap: wrap;
	max-widtH: 1122px;
	height: 715px;
	border: 1px solid  #D0D0D0;
	background-color: #D0D0D0;
}
.tile {
	height: 100px;
	width: 100px;
	margin: 1px;
}
.tile-count {
	padding-left: 5px; 
}
.game-box {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	width: 400px;
	height: 715px;
	border: 1px solid #D0D0D0;
	background-color: #12293b;
	text-align: center; 
}
.dice-box {
	width: 200px;
	height: 200px;
	margin: 20px auto 0 auto;
	border: 1px solid #12293b;
	background-color: white;
	border-radius: 10px;
}
#dice {
	font-size: 8em;
	color:#12293b;
}
.dice-button {
	font-size: 1em;
	font-family: 'Marcellus SC', serif;
	border-radius: 2px;
	background-color: #FFBF31;
	color: #12293b;
	width: 200px;
	height: 50px;
	border: none;
	box-shadow: 0 5px 10px black;
}
.dice-button:hover {
	background-color: #FFCB31;
	transition: .1s;
}
.dice-button:active {
	transform: translateY(2px);
	background-color: #F0B42E;
	transition: .1s;
}
.game-info {
	padding: 100px 0 0 0; 
}
.header-info {
	font-size: 2em;
	color: #FFBF31;
}
.extra-info {
	font-size: 2em;
}
/* Row 1 */
.tiles-row-1-1 { background-image: url("../images/tiles/TilesRow1-1.png"); }
.tiles-row-1-2 { background-image: url("../images/tiles/TilesTile-1.png"); }
.tiles-row-1-3 { background-image: url("../images/tiles/Tilesrow1-3.png"); }
.tiles-row-1-4 { background-image: url("../images/tiles/TilesRow1-4.png"); }
.tiles-row-1-5 { background-image: url("../images/tiles/TilesRow1-5.png"); }
.tiles-row-1-6 { background-image: url("../images/tiles/TilesRow1-6.png"); }
.tiles-row-1-7 { background-image: url("../images/tiles/TilesRow1-7.png"); }
.tiles-row-1-8 { background-image: url("../images/tiles/TilesRow1-8.png"); }
.tiles-row-1-9 { background-image: url("../images/tiles/TilesRow1-9.png"); }
.tiles-row-1-10 { background-image: url("../images/tiles/TilesRow1-10.png"); }
.tiles-row-1-11 { background-image: url("../images/tiles/TilesRow1-11.png"); }
/* Row 2 */
.tiles-row-2-1 { background-image: url("../images/tiles/Tilesrow2-1.png"); }
.tiles-row-2-2 { background-image: url("../images/tiles/TilesTile-2.png"); }
.tiles-row-2-3 { background-image: url("../images/tiles/TilesTile-3.png"); }
.tiles-row-2-4 { background-image: url("../images/tiles/TilesTile-4.png"); }
.tiles-row-2-5 { background-image: url("../images/tiles/TilesTile-5.png"); }
.tiles-row-2-6 { background-image: url("../images/tiles/TilesTile-6.png"); }
.tiles-row-2-7 { background-image: url("../images/tiles/TilesTile-7-Trap.png"); }
.tiles-row-2-8 { background-image: url("../images/tiles/TilesTile-8.png"); }
.tiles-row-2-9 { background-image: url("../images/tiles/TilesTile-9.png"); }
.tiles-row-2-10 { background-image: url("../images/tiles/TilesTile-10.png"); }
.tiles-row-2-11 { background-image: url("../images/tiles/Tilesrow2-11.png"); }
/* Row 3 */
.tiles-row-3-1 { background-image: url("../images/tiles/Tilesrow3-1.png"); }
.tiles-row-3-2 { background-image: url("../images/tiles/Tilesrow3-2.png"); }
.tiles-row-3-3 { background-image: url("../images/tiles/Tilesrow3-3.png"); }
.tiles-row-3-4 { background-image: url("../images/tiles/Tilesrow3-4.png"); }
.tiles-row-3-5 { background-image: url("../images/tiles/Tilesrow3-5.png"); }
.tiles-row-3-6 { background-image: url("../images/tiles/Tilesrow3-6.png"); }
.tiles-row-3-7 { background-image: url("../images/tiles/Tilesrow3-7.png"); }
.tiles-row-3-8 { background-image: url("../images/tiles/Tilesrow3-8.png"); }
.tiles-row-3-9 { background-image: url("../images/tiles/Tilesrow3-9.png"); }
.tiles-row-3-10 { background-image: url("../images/tiles/Tilestile-11.png"); } 
.tiles-row-3-11 { background-image: url("../images/tiles/Tilesrow3-11.png"); }
/* Row 4 */
.tiles-row-4-1 { background-image: url("../images/tiles/Tilesrow4-1.png"); }
.tiles-row-4-2 { background-image: url("../images/tiles/TilesTile-20.png"); }
.tiles-row-4-3 { background: url("../images/tiles/TilesTile-19-Trap.png"); }
.tiles-row-4-4 { background-image: url("../images/tiles/TilesTile-18.png"); }
.tiles-row-4-5 { background-image: url("../images/tiles/TilesTile-17.png"); }
.tiles-row-4-6 { background-image: url("../images/tiles/Tilestile-16.png"); }
.tiles-row-4-7 { background-image: url("../images/tiles/Tilestile-15.png"); }
.tiles-row-4-8 { background-image: url("../images/tiles/Tilestile-14.png"); }
.tiles-row-4-9 { background-image: url("../images/tiles/Tilestile-13-trap.png"); }
.tiles-row-4-10 { background-image: url("../images/tiles/Tilestile-12.png"); }
.tiles-row-4-11 { background-image: url("../images/tiles/Tilesrow4-11.png"); }
/* Row 5 */
.tiles-row-5-1 { background-image: url("../images/tiles/Tilesrow5-1.png"); }
.tiles-row-5-2 { background-image: url("../images/tiles/TilesTile-21.png"); }
.tiles-row-5-3 { background-image: url("../images/tiles/Tilesrow5-3.png"); }
.tiles-row-5-4 { background-image: url("../images/tiles/Tilesrow5-4.png"); }
.tiles-row-5-5 { background-image: url("../images/tiles/Tilesrow5-5.png"); }
.tiles-row-5-6 { background-image: url("../images/tiles/Tilesrow5-6.png"); }
.tiles-row-5-7 { background-image: url("../images/tiles/Tilesrow5-7.png"); }
.tiles-row-5-8 { background-image: url("../images/tiles/Tilesrow5-8.png"); }
.tiles-row-5-9 { background-image: url("../images/tiles/Tilesrow5-9.png"); }
.tiles-row-5-10 { background-image: url("../images/tiles/Tilesrow5-10.png"); }
.tiles-row-5-11 { background-image: url("../images/tiles/Tilesrow5-11.png"); }
/* Row 6 */
.tiles-row-6-1 { background-image: url("../images/tiles/Tilesrow6-1.png"); }
.tiles-row-6-2 { background-image: url("../images/tiles/TilesTile-22.png"); }
.tiles-row-6-3 { background-image: url("../images/tiles/TilesTile-23.png"); }
.tiles-row-6-4 { background-image: url("../images/tiles/TilesTile-24.png"); }
.tiles-row-6-5 { background-image: url("../images/tiles/TilesTile-25.png"); }
.tiles-row-6-6 { background-image: url("../images/tiles/TilesTile-26-TRAP.png"); }
.tiles-row-6-7 { background-image: url("../images/tiles/TilesTile-27.png"); }
.tiles-row-6-8 { background-image: url("../images/tiles/TilesTile-28.png"); }
.tiles-row-6-9 { background-image: url("../images/tiles/TilesTile-29.png"); }
.tiles-row-6-10 { background-image: url("../images/tiles/TilesTile-30.png"); }
.tiles-row-6-11 { background-image: url("../images/tiles/Tilesrow6-11.png"); }
/* Row 7 */
.tiles-row-7-1 { background-image: url("../images/tiles/Tilesrow7-1.png"); }
.tiles-row-7-2 { background-image: url("../images/tiles/Tilesrow7-2.png"); }
.tiles-row-7-3 { background-image: url("../images/tiles/Tilesrow7-3.png"); }
.tiles-row-7-4 { background-image: url("../images/tiles/Tilesrow7-4.png"); }
.tiles-row-7-5 { background-image: url("../images/tiles/Tilesrow7-5.png"); }
.tiles-row-7-6 { background-image: url("../images/tiles/Tilesrow7-6.png"); }
.tiles-row-7-7 { background-image: url("../images/tiles/Tilesrow7-7.png"); }
.tiles-row-7-8 { background-image: url("../images/tiles/Tilesrow7-8.png"); }
.tiles-row-7-9 { background-image: url("../images/tiles/Tilesrow7-9.png"); }
.tiles-row-7-10 { background-image: url("../images/tiles/Tilesrow7-10.png"); }
.tiles-row-7-11 { background-image: url("../images/tiles/Tilesrow7-11.png"); }

.tile--trap {
	box-shadow: inset 0 0 0 100px rgba(207, 0, 0, 0.3);
	border-radius: 5px;
}
.tile--path {
	border-radius: 5px;
}
.tile--outside {
	box-shadow: inset 0 0 0 100px rgba(18, 41, 59, 0.6);
	border-radius: 5px;
}